/* mediaquerry */

@media (max-width: 2570px) {
    header {
      justify-content: space-around;
      background-color: $color-secundario;
    }
  
    .Lorem {
      font-size: 50px;
  
      /* Definición por defecto */
    }
  
    nav {
      float: right;
      line-height: 0rem;
      background-color: $color-secundario;
      margin: 0%;
      padding: 3rem;
      width: 100%;
  
      ul li {
        display: inline-block;
        margin-left: 6rem;
        margin-top: 0rem;
      }
    }
  }

  @media (max-width: 1440px) {
    header {
      justify-content: space-around;
      background-color: $color-secundario;
    }
  }
  
  nav {
    float: right;
    line-height: 0rem;
    background-color: $color-secundario;
    margin: 0%;
    padding: 3rem;
    width: 85%;
  
    ul li {
      display: inline-block;
      margin-left: 6rem;
      margin-top: 0rem;
    }
  
}
  
  @media (max-width: 1024px) {
    header {
      justify-content: space-around;
      background-color: $color-secundario;
    }
  }
  
  nav {
    float: right;
    line-height: 0rem;
    background-color: $color-secundario;
    margin: 0%;
    padding: 0.5rem;
    width: 75%;
  
    ul li {
      display: inline-block;
      margin-left: 3rem;
      margin-top: 0rem;
    }
  
  .Lorem {
    font-size: 50px;
  }
}
  
  @media screen and (max-width: 949px) and (min-width: 801px) {
    nav {
      width: 100%;
  
      ul {
        display: flex;
        justify-content: center;
  
        li {
          margin-left: 1rem;
        }
      }
    }

    .logo {
      float: left;
      margin-top: -1rem;
  
      img {
        max-height: 5rem;
        vertical-align: middle;
      }
    }
  }


  @media (max-width: 1440px) {
    nav ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
  
      li {
        margin-left: 0;
      }
    }


    article.imagentips {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left: 23rem;
  
      img {
      max-width: 700px;
      }
    }

  .logo {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
  
    img {
      max-height: 7rem;
      vertical-align: middle;
    }
  }
  
  .Lorem {
    font-size: 30px;
  }
}



  @media (max-width: 775px) {
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  
      li {
        margin: 0.5rem 0;
      }
    }

  
  .logo {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
  
    img {
      max-height: 7rem;
      vertical-align: middle;
    }
  }
  
  .contactos {
    display: flex;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3px;
    margin-bottom: 0.5rem;
  }
  
  article.imagentips {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 2rem;

    img {
    max-width: 250px;
    }
  }


  .botonesredes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 3rem;
  
    img {
      width: 3rem;
      height: auto;
    }
  }
  
  .Lorem {
    font-size: 16px;
  }
  
  .titulo {
    font-size: 23px;
  }
}

